<div class="row">
	<div class="large-12 columns">
		<h1>Disclaimer of Liability</h1>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<p>
			THE SERVICE AND CONTENT FROM OR THROUGH THIS SITE ARE PROVIDED "AS-IS," "AS AVAILABLE," AND ALL WARRANTIES, EXPRESS OR IMPLIED, ARE DISCLAIMED (INCLUDING BUT NOT LIMITED TO THE DISCLAIMER OF ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE). THE INFORMATION HEREIN MAY CONTAIN BUGS, ERRORS, PROBLEMS OR OTHER LIMITATIONS. THE OWNER OF THIS SITE ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY ERRORS OR OMISSIONS ON THIS SITE.
		</p>
	</div>
</div>
